body{
    background-color: rgb(233, 255, 251);
    font-size: 12px;
  }
  
  .caixa-banner{
    background-image: url(../Aluna_1/gabriella-ribeiro/yorkshire-terrier-4783327__340.webp);
    background-size: cover;
    background-position: center;
    height: 85vh;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  .titulo1 {
    text-shadow: 2px 2px 2px #e2cab6;
    font-size: 2rem;
  }
  
  .link-sobre {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #7e459b;
    font-weight: bold;
    background-color: white;
    padding: 8px 20px;
    border-radius: 20px;
    
  }
  .link-sobre:hover{
    background-color: aqua;
  }
  
  .caixa-sobre {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
  
  }
  
  .nome {
    font-weight: bold;
  }
  
  .lado1 {
    width: 35%;
  }
  
  .margin-texto {
    margin-bottom: 40px;
  }
  
  .lado2 {
    width: 35%;
  }
  
  h3,h4{
    margin-left: 20px;
    color: rgb(27, 223, 223);
  }
  
  ul {
    line-height: 1.8;
  }
  
  .titulo-sobre {
    margin-left: 100px;
    margin-bottom: 50px;
    font-size: 35px;
    color: #45949b;
  } 
  
  @media (max-width: 710px) {
    .caixa-sobre{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .lado1{
        width: 80%;
        text-align: justify;
    }
  
    .lado2{
        width: 80%;
    }
  
    .titulo-sobre {
        margin: 20px;
        text-align: center;
        font-size: 30px;
    }
  
    .links {
        margin-top: 10px;
        width: 250px;
        height: 250px;
        font-size: 20px;
    }
  
    .icone {
        margin-top: 40px;        
    }
  
  }