*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 10px;

}

.barra-navegaçao{
    background-color: rgb(82, 67, 95);
    display:flex

}

.barra-navegaçao>img{
    width: 5%;
}





