h1,h2{
    font-size: 40px;
    text-align: center;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

div{
    width: 25%;
    height: 70px;
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
}

.flex{
    display: flex;
    width: 100%;
}