@import url("https://fonts.googleapis.com/css2?family=Abel&family=IBM+Plex+Sans:wght@600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: "Akshar", arial;
}

body,
html {
  height: 100%;
}

.div_container {
  display: flex;
  height: 92vh;
  width: 100vw;
}

.aside_left {
  display: flex;
  justify-content: center;
  flex: 1.8;
  background: url(../imagem/plano_de_fundo.png) center no-repeat;
}

.icone_twitter_aside_left {
  align-self: center;
  width: 390px;
}

.aside_right {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.div_aside_rigth {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-evenly;
  padding: 20px;
}

.img_aside_right {
  display: flex;
  align-items: end;
}

.logo_twitter_aside_right {
  width: 40px;
  height: 35px;
}

.text_container_aside_right {
  text-align: left;
}

.h1_aside_right {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

.h2_aside_right {
  font-size: 40px;
}

.button_register_container {
  /* margin-left: 40px; */
}

.button_register {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(233, 225, 225);
  border-radius: 20px;
  width: 16vw;
  margin: 16px 0;
}

.button_register:hover {
  background-color: #e9e5e5;
  cursor: pointer;
}

.icon_google {
  width: 20px;
  padding: 8px;
}

.register_option_container {
  display: flex;
  align-items: center;
}

hr {
  width: 7vw;
  height: 0px;
  opacity: 0.2;
}

.register_option_text {
  padding: 0px 3px;
}

.button_register_cellphone {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(233, 225, 225);
  border-radius: 20px;
  width: 16vw;
  height: 4vh;
  margin: 10px 0px 15px;
  color: white;
  background-color: rgb(71, 156, 247);
}

.button_register_cellphone:hover {
  background-color: rgb(57, 148, 245);
  cursor: pointer;
}

.agreement_text_container {
  display: flex;
  width: 16vw;
  font-size: 12px;
}

.agreement_text {
  letter-spacing: 0.5px;
}

.text_highlight {
  color: rgb(71, 156, 247);
}

.h3_account_question {
  /* margin: 20px 40px 10px; */
}
.login_container {
  /* margin-left: 40px; */
  margin-top: 20px;
}
.button_login {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(233, 225, 225);
  border-radius: 20px;
  width: 16vw;
  height: 4vh;
  margin: 10px 0px 15px;
  color: rgb(71, 156, 247);
}

.button_login:hover {
  background-color: rgb(189, 219, 249);
  cursor: pointer;
}

footer {
  width: 100%;
}

ul {
  list-style: none;
  width: 100%;
  display: flex;
  height: 8vh;
  align-items: center;
  margin: 0px 30px;
}

.about_link {
  text-decoration: none;
  color: rgb(109, 110, 111);
}

li {
  color: rgb(109, 110, 111);
  font-size: 15px;
  padding: 0px 10px;
  list-style: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .div_container {
    flex-direction: column;
  }
  .aside_left {
    order: 2;
    flex: 0.5;
  }

  .h1_aside_right, .h2_aside_right{
    font-size: 1.5rem;
  }

  .icone_twitter_aside_left {
    width: 240px;
  }

  .aside_right {
    order: 1;
    align-items: center;
  }

  .button_register,
  .button_register_cellphone,
  .button_login {
    width: 70vw;
  }

  hr{
    width:40vw;
  }

  .button_register_cellphone p{
    font-size:14px;
  }

  .agreement_text_container {
    width: 70vw;
  }

  .ul_footer {
    width: 90vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .div_container {
    flex-direction: column;
  }
  .aside_left {
    order: 2;
    flex: 0.5;
  }

  .icone_twitter_aside_left {
    width: 240px;
  }

  .aside_right {
    order: 1;
    align-items: center;
  }

  .button_register,
  .button_register_cellphone,
  .button_login {
    width: 40vw;
  }

  .agreement_text_container {
    width: 40vw;
  }

  .ul_footer {
    width: 90vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
