* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  background-color: #f2ede4;
  width: 100%;
}
#header {
  margin: 2rem;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header-text {
  padding: 1.5rem;
  font-weight: 500;
  font-size: 2rem;
  color: #46154c;
}

.line {
  margin: 3rem 0;
  border: 0;
  border-top: 0.2rem solid #46154c;
}

.container-profile {
  display: flex;
  align-items: center;
  gap: 15rem;
  padding: 0 5rem;
}
.image-profile {
  width: 85%;
  height: 100%;
}

.image-box {
  width: 35%;
  min-width: 250px;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #46154c;
}

.p-text {
  font-size: 2rem;
  font-weight: 300;
  color: #46154c;
}

.text-profile {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.aboutme-container {
  padding: 7rem 5rem;
}
.about-text {
  font-size: 3.5rem;
  font-weight: bold;
  color: #46154c;
}

.p-aboutme {
  font-size: 2rem;
  padding: 1rem 0;
}

.text-aboutme {
  font-size: 1.5rem;
  color: #000;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  list-style-type: disc;
}

footer {
  padding: 2rem;
}

.p-footer {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #46154c;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }

  .header-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .image-box {
    display: flex;
    justify-content: center;
    min-width: 250px;
  }
  .container-profile {
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem;
    gap: 0;
  }

  .text-profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #46154c;
    margin-top: 2rem;
  }

  .p-text {
    font-size: 1.5rem;
    font-weight: 300;
    color: #46154c;
  }

  .about-text {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #46154c;
  }

  .aboutme-container {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
  }

  .p-aboutme {
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
  }

  .text-aboutme {
    font-size: 1.2rem;
    color: #000;
  }
}
