* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.barra-navegacao {
    background-color: #826795;
    display: flex;
    padding: 2rem;    align-items: center;
    justify-content: center
}

.barra-navegacao>img{
    width: 5%;
    margin-right: 2rem;
}

.barra-navegacao>p{
    font-size: 2.5rem;
    color: white;
}

.conteudo-principal, 
.container-pais, 
.container-formulario{
    padding: 4% 7%;
}

.conteudo-principal h1{
    color: rgb(106, 59, 104);
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

p{
    color: rgb(93,85, 92);
    font-size: 2rem;

}

.conteudo-principal p{
    margin-bottom: 1.5rem; 
    text-align: justify;   

}

.container-pais {
    display: flex;
    justify-content: space-between;

}

.background-pais1 {
    background-color: rgb(152,136,150);
}

.container-pais__texto {
    width: 50%;
}

.container-pais__texto>h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.container-pais>img {
    width: 40%;
}

.row-reverse {
    flex-direction: row-reverse;
    background-color: rgb(196, 186, 196);
}

.container-formulario h2{
    color: rgb(106,59,104);
    font-size: 2,5rem;
    text-align: center;
    margin-bottom: 4rem;
}