* {
  margin: 0;
  box-sizing: 0;
  text-decoration: 0;
  border: 0;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #ffcb12;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.header_nav-div {
  display: flex;
  background-color: #fba89b;
  width: 100%;
  justify-content: center;
  position: fixed;
}

.header_nav-div>a {
  padding: 20px;
  margin: 0px 10px 0px 10px;
  border-style: groove;
  font-size: 1.2rem;
  font-weight: bold;
  max-width: 500px;
}

.header_nav-img {
  display: block;
  text-align: center;
  background-size: cover;
  box-sizing: border-box;
  min-width: 560px;
  width: 100%;
}

.sobre-mim {
  display: table;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 400px;
  width: 100%;
}

.texto {
  background-color: #ffcb12;
  margin-left: 50px;
  padding: 3%;
  width: 50%;
  min-width: 450px;
  float: left;
  margin: 30px 125px 30px 30px;
  font-weight: bold;
}

.texto p {
  margin-bottom: 0.5rem;
}

.row {
  display: table-row;
  width: 100%;
}

.sobre-mim h1 {
  display: inline-block;
  color: #fba89b;
  background: white;
  padding: 5px;
  font-size: 2rem;
}

.sobre-mim h2 {
  display: inline-block;
  background-color: white;
  color: #a5dada;
  margin: 10px;
  font-weight: bold;
  padding: 5px;
  font-size: 1.5rem;
}

.foto-lari>img {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  margin: 10px;
  width: 20%;
  border-radius: 50%;
  display: table-cell;
  min-width: 258px;
}

.main-section2 {
  background-color: #a5dada;
  padding: 50px;
  font-weight: bold;
  /* width: 100%; */
  min-width: 500px;
}

.main-section2 h2 {
  display: inline-block;
  color: #fba89b;
  background: white;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.main-section2 h3 {
  display: inline-block;
  margin-bottom: 10px;
  background: white;
  color: #fba89b;
  padding: 5px 10px 5px 10px;
  font-size: 1.3rem;
}

.main-section2 p+h3 {
  margin-top: 30px;
}

.main-section2 p {
  padding: 0 20px 0 20px;
  margin-bottom: 0.5rem;
}

.main-aside {
  text-align: center;
  padding: 0;
  background-color: #fba89b;
  /* padding: 50px; */
  width: 100%;
}

.main-aside-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  min-width: 606px;

}

.main-aside-div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px 0 50px;

}

.main-aside-div img {
  margin: center;
  height: 100px;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  min-width: 90px;
}

.main-aside a {
  text-decoration: none;
}

.main-aside a:hover {
  color: blueviolet;
}

footer {
  background-color: #ffcb12;
  color: white;
  text-align: center;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: bold;
  width: 100%;
}


@media screen and (max-width:1035px) {
  .header_nav-div {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

}

@media screen and (max-width:1035px) {
  .sobre-mim {
    flex-direction: column;
  }

  .sobre-mim {
    justify-content: center;
    align-items: center;

  }

  .texto {
    width: 80%;
  }

  .foto-lari {
    width: 80%;
    padding-left: 25%;
  }
}

@media screen and (min-width:700px) {

  .main-section2,
  .main-aside {
    width: 100%;
  }
}