body{
  font-family:'Times New Roman', Times, serif;
  background-image: linear-gradient(225deg, #ff6cf8 0, #ff67f4 12.5%, #f961eb 25%, #d459de 37.5%, #ad50cc 50%, #8846b8 62.5%, #653da6 75%, #453695 87.5%, #232f86 100%);


 
}
.box{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color:#bf9ed1;
  padding:15px;
  border-radius: 15px;
  width:30%;
  margin: 10px 30px 20px;
  font-weight:bold;

}
fieldset{
  border:4px solid orange;
  border-radius: 15px;
  
}
legend{
  border:1px solid #722c95;
  padding:10px;
  text-align: center;
  background-color:orange;
  border-radius:8px;
  color:black;
}
.inputBox{
  position: relative;
  
}
.inputUser{
  background: none;
  border:none;
  border-bottom: 1px solid #fff;
  outline: none;
  color:#fff;
  font-size: 15px;
  width:100%;
  letter-spacing: 2px;
  font-weight:bold;
}
.labelInput{
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
  top:-20px;
  font-size: 14px;
  color:white;
  text-shadow:  white;
}
#data-nascimento{
  border: none;
  padding:8px;
  border-radius:10px;
  outline:none;
}
#submit{
  background:#ff8c00;
  width:100%;
  border: none;
  padding:15px;
  color: black;
  font-size: 18px;
  cursor: pointer;
  border-radius:10px;
  text-transform: uppercase;
  font-weight:bold;

}



#submit:hover{
  background:red;
}

@media screen and(min-width:250px){
  .box{
    width:30%;
  }
  legend{
    width:30%;
    height:auto;
  }
  fieldset{
    width:30%;
    height:auto;
  }
  #submit{
    width:30%;
    height:auto;
  }
}