*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
   font-family: 'Roboto', sans-serif; 
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #763632;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover{
    cursor: pointer;
    background: #4b1b18;
}

.headline{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/*Navbar*/

#navbar{
    width: 100%;
    background: #845555;
    color: #eee;
    height: 80px;
}

#navbar-container{
    width: 80%;
    height: 100%;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#navbar-container span{
    color: #C1AAAA;
}

#navbar-items{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    justify-content: 
}

#navbar-items li{
    justify-content: space-between;
    padding: 1rem;
}

/*Showcase*/

#showcase{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('/img/img1.jpeg') no-repeat center center/cover;

    /*overlay*/
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: color;
}

#showcase-container{
    text-align: center;
}

#showcase-container h2{
    font-size: 2.5rem;
}

#showcase-container p{
    font-size: 1.2rem;
    padding: 0.5rem;
}

/*Clientes*/

#clientes{
    width: 100%;
}